.topNavBar {
  padding: 20px 5px 20px 15px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  transition: all 1.5s;
  color: #b7b7b7;
}
.sticky {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 5px 10px 15px;
  color: rgb(70, 68, 68);
  z-index: 1;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
.logo {
  float: left;
  padding-top: 4px;
  padding-bottom: 3px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial Black";
  color: inherit;
}
.RS {
  color: rgb(230, 104, 106);
  margin-right: 6px;
}
.nav1 {
  float: right;
  padding-top: 7px;
  padding-bottom: 5px;
}
.topNavBar > nav > ul > li > a {
  float: left;
  font-size: 12px;
  color: inherit;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  display: block;
  cursor: default;
}
.nav1 .a .menuTrigger .rightTriangle {
  position: absolute;
  top: 45%;
  left: 120%;
  width: 0px;
  height: 0px;
  border: solid 5px #b7b7b7;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
.menu {
  padding: 5px;
  border-bottom: 1px solid rgb(56, 66, 75);
}
.submenu {
  position: absolute;
  top: 120%;
  left: -80%;
  background-color: rgb(239, 239, 239);
  color: rgb(18, 31, 42);
  padding: 4px 5px 10px;
  font-size: 16px;
  border-radius: 2px;
}
.topTriangle {
  position: absolute;
  top: -8%;
  left: 40%;
  width: 0px;
  height: 0px;
  border: solid 5px rgb(239, 239, 239);
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  margin: auto;
}
