/* box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4)
1px：阴影水平偏移值（可取正负值）；
2px：阴影垂直偏移值（可取正负值）；
3px：阴影模糊值； */

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
ol li,
ul li {
  list-style: none;
}
/* 不换行 */
.noswrap {
  white-space: nowrap;
}

/* flex布局 */
.box {
  display: flex;
  /* 添加儿子排列方向flex-direction:column(垂直)，row(水平) */
}
.boxLastSon {
  flex: 1;
}
/* 居中 */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.display-inlineblock {
  display: inline-block;
}
.hidden {
  overflow: hidden;
}
